@import '../../node_modules/react-nice-dates/build/style.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $dark;
  color: $light;
}

.calendar-container {
  margin: 1rem 0;
}

.nice-dates-navigation {
  color: $light;
}

.nice-dates-day {
  color: $light;

  &:before {
    background-color: $blue-600;
  }

  &:after {
    background-color: $blue-900;
    border: none;
  }

  &.-selected:hover:after {
    background-color: $blue-900;
  }

  &.-disabled {
    color: $gray-800;
  }
}
